<!DOCTYPE html>
<html ng-app="myApp">
    <head>
	    <script src = "scripts/angular.js"></script>
        <script src = "scripts/app.js"></script>
	</head>
    <body>
	    <h1>Roughly speaking</h1>
        <div class="container">
            <div ng-controller="mainController">
                <button ng-click="addRoughlySpeaking()">
                    Roughly Speaking
                </button>
                <button ng-click="removeRoughlySpeaking()">
                    Not Roughly
                </button>
                <br>
                <h4>{{rsCount}}</h4>
                <br>
                <div ng-repeat="val in log">
                    h
                    <br>
                    {{val.timeTag}}
                    <!--{{val.timeTag | date:'HH:mm:ss dd.MM.yyyy'}}-->
                    <br>
                </div>
            </div>
		</div>
    </body>
</html>